@media(max-width:768px)
    {
        body{
            margin: 0px;
        }

        header{
            height:15vh;
            width:auto;
            font-size: xx-large;
        }

        nav{
            line-height:220%;
            font-size:medium;
            margin:0px;
            border-radius: 0px;

        }

        #links {
            margin:5px;
            padding:5px 10px;
        }

        aside{
            padding:5px;
            margin:0px;
            align-content: center;
            align-items:center;
        }

        #lien{
            padding: 5px;
            font-size:x-small;
            text-align: center;
        }

        main {
            margin: 10px;
            padding: 5px;
            font-size:11px; 
            line-height:15px;
        }
        
        h2 {
            font-size:large;
            margin:15px 0px 15px 5px;;
        }
        
        h3 {
            margin-left:10px;
            letter-spacing:1px;
        }

        p {
            font-size:11px; 
            line-height:14px;
        }

        footer {
            font-size:x-small;
            font-weight: bold;
        }

        .socials {
            height:9px;
        }

        #parent {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 4fr 1fr;
            grid-template-areas: 
            'header'
            'nav'
            'aside'
            'main'
            'footer';
            height: 100vh;
            text-align: center;
        }
        
    }