body {
    margin:0px 200px;
    background: linear-gradient(to bottom, rgba(52, 160, 164,0.9), rgba(24, 78, 119, 0.9));
}

a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #000;;
    letter-spacing: -0.5px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding:5px;
}

a:hover {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(24, 78, 119, 0.9);
    background: #fefefe;
    padding:5px;
    border-radius: 15px;
    transition: 1s;
}

header {
    grid-area: header;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: italic;
    color: rgba(254, 254, 254, 0.9);
    text-shadow: 3px 5px 2px rgba(24, 78, 119, 0.5);
    text-transform: uppercase;  
    font-size: 95px;
    line-height: 50px;
    align-content:space-evenly;
}


.city {
    height:250px;
    border-radius:20% 20% 0% 0%;
    margin-top:30px;
    margin-bottom: -15px;
    padding:5px;
    box-shadow:-15px -7px rgba(24, 78, 119, 0.8);
}


h1 {
    font-size: 72px;
    color: rgba(254, 254, 254, 0.9);
    text-shadow: 3px 2px rgb(24, 78, 119);
}

nav {
    background-color: rgba(24, 78, 119, 0.9);
    box-shadow: 0px 6px rgba(24, 78, 119, 0.25);
    grid-area: nav;
    margin:10px;
    border-radius:25px 0px 25px 0px;
    font-family: "Lilita One", sans-serif;
    font-size: 25px;
    color: rgba(254, 254, 254, 0.9);
    line-height: 25px;
    text-transform:uppercase;
    align-content:space-evenly;
}

#links {
    background:rgba(254, 254, 254, 0.9);
    color: rgb(9, 51, 83);
    margin:15px;
    padding:5px 15px;
    border-radius:25px;
    text-decoration:none;
    font-family: 'Lilita One', arial;
}

#links:hover {
    background: rgba(52, 160, 164,0.9);
    color:#fefefe;
}

aside {
    grid-area: aside;
    border-radius: 20px;
    padding:10px;
    margin-top:25px;
    font-family: "Lilita One", sans-serif;
    font-size: 17px;
    text-transform:uppercase;
    text-align:left;
    align-content:first baseline;
}

.lien {
    font-family: 'Lilita One', arial;
    color: #fefefe;
    letter-spacing: 1.5x;
    text-shadow:3px 2px 2px rgba(24, 78, 119, 0.5);
    background: rgba(52, 160, 164, 0.7);
    box-shadow: 0px 6px rgba(24, 78, 119, 0.2);
    margin:15px;
    padding:8px 15px;
    border-radius:25px;
    text-decoration:none;
}

.lien:hover {
    background: rgb(9, 51, 83);
    transition: 1s;
}

main {
    grid-area: main;
    margin: 10px 50px 10px 40px;
    padding: 10px;
    text-align: justify;
    font-family: arial, serif;
    font-size:15px; 
    line-height:18px;
    color:#fefefe;
    overflow: auto;
    scrollbar-color: rgba(52, 160, 164, 0.7) rgba(24, 78, 119, 0.5);
    scrollbar-width: thin;
}

h2 {
    width:50%;
    color: rgb(9, 51, 83);
    font-size: 30px;
    font-family: 'Lilita One', arial;
    letter-spacing:1.5px;
    text-transform: uppercase;
    font-weight:900;
    text-shadow:3px 2px 2px rgba(24, 78, 119, 0.2);
    margin:35px 0px 15px 25px;
}

h3{
    font-style: italic;
    font-weight:bold;
    margin-left:50px;
    letter-spacing:1px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow:3px 2px 2px rgba(24, 78, 119, 0.5);
}

p {
    text-align: justify;
    font-family: arial, serif;
    font-size:15px; 
    line-height:18px;
    color:#fefefe;
}

footer {
    background-color: rgba(24, 78, 119, 0.9);
    box-shadow: 0px 6px rgba(24, 78, 119, 0.25);
    grid-area: footer;
    margin:15px;
    padding:10px;
    border-radius:0px 25px 0px 35px;
    text-align: center;
    align-items:baseline;
}

.socials {
    height:13px;
    margin: 0px 5px;
}

#parent {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 2fr 1fr 5fr 1fr;
    grid-template-areas: 
    'header header header header header header header'
    'nav nav nav nav nav nav nav'
    'aside main main main main main main'
    'footer footer footer footer footer footer footer';
    height: 100vh;
    text-align: center;
}